*{

    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.Container{

    width: 100%;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;

}


nav{

    width: 100%;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;


}

.logo img{

    width: 38px;
}


.other-elements img{
width: 30px;


}

.btn{

    width: 110px;
    padding: 10px;
    font-size: 10px;
    font-weight: 800;
    border-radius: 40px;
    background-color: rgb(251,100,24);
    color: white;

    
}

.btn:hover{

    transform: scale(1.10);
    transition: 1s;
    box-shadow: 0 4px 8px rgba(0,0,0,.010)

}

.other-elements, .btn, img, a{

    margin-left: 20px;


}

.other-elements{

    padding-right: 20px;
}

.other-elements a {

    text-decoration: none;
    font-size: 12px;
    font-weight: 600;
    color: black;
}


.other-elements a:hover {
border-bottom: 3px solid black;
transition: 2ms;
   
}
.flag{

    position: relative;
    top: 10px;
}

.menu{

    position: relative;
    top: 8px;
}

.cart{

    position: relative;
    top: 8px;
}

.cart:hover{

    background-color: rgb(251,100,24);

}

.hero-module{

    width: 100%;
    height: 20%;
    background-size: cover;
    position: relative;

}

.hero-video{

    width: 100%;
}


.overlap{

    position: absolute;
    bottom: 150px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 50px;
    top: 180px;

}


.overlap h2{

    font-size: 4rem;
    font-weight: 1000;
    color: white;
    line-height: 60px;

}

.overlap p{

    padding-top: 20px;
}


.anchor{

    
    width: 200px;
    height: 30px;
    font-size: 12px;
    font-weight: 800;
    background-color: transparent;
    color: white;
    text-decoration: none;
  


}

.anchor:hover{

    border-bottom: 2px solid white;
    transition: 2ms;
}

.buttons{

    padding-top: 40px;
}

/* .bnt2{

width: 100px;
color: white;

} */


.btn1{
    width: 100px;
    height: 35px;
    font-size: 10px;
    font-weight: 800;
    border-radius: 40px;


}

.btn1:hover{

    transform: scale(0.90);
    transition: 1s;
}

.bnt1:active{

    width: 90px;
    height: 32px;

}

.hero-video{

    width: 100%;
    border-bottom-left-radius: 50%;
}

/* third-part starts here */

.third-part{

    width: 100%;
    height: 100vh;
    background-image: url(bgimg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-top-right-radius: 10%;
    border-bottom-left-radius: 18%;
    position: relative;
    display: flex;

   


}

.third-part h2{

    font-size: 3rem;
    color: white;
    font-weight: 800;
    padding-top: 70px;
    padding-left: 40px;
}



.card {

    background-color: white;
    color: black;
    width: 350px;
    height: 440px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 12px;

}

.card img{


    width: 190px;
    margin-top: 10px;
    margin-left: 45px;


}

.card h3{

    padding-top: 30px;
    padding-left: 30px;
    font-weight: 800;

}
.card p{

    font-size: 16px;
    line-height: 21px;
    padding-top:40px ;
    padding-left: 30px;
}

.cards{

    display: flex;
    justify-content: center;
    gap: 23px;
    position: absolute;
    top: 280px;
    left: 100px;
}

/* fourth-part starts here: */


.fourth-part{

    width: 100%;
    background-color: rgb(246,246,246);
    padding-top: 100px;
    background-image: url(/saidimg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: yellow;
    border-bottom-left-radius: 200px;
}


.fourth-content{

    padding-left: 80px;
    padding-top: 130px;


}
.png img{

    width: 600px;

}

 .h2p h2{

font-size: 5rem;
font-weight:900;

}

.h2p p{

    font-size: 16px;
    line-height: 20px;

}

.h2p a {

    text-decoration: none;
    font-size: 13px;
    color: rgb(251,100,24);
    font-weight: 800;
    position: relative;
    top: 15px;
    right: 18px;
}


/* overlap2 starts */

.overlap2{

    display: flex;
    gap: 23px;
    padding-top: 100px;
    border-bottom-right-radius: 50px;
    height: 50vh;
}


.cardsecond{
height: 490px;
}
.cardsecond h3{

    font-size: 1.80rem;
    font-weight: 800;
    line-height: 32px;

}


.cardsecond h4{

    font-size: 16px;
    font-weight: 800;
    position: relative;
    left: 32px;
    top: 21px;

}

.cardsecond p{

    position: relative;
    bottom: 20px;
}


.cardsecond1 img{
    width: 400PX;
position: relative;
bottom: 335PX;
right: 70px;

}


.cardsecond2 img{
    width: 360PX;
    position: relative;
    bottom: 203px;
    right: 53px;


}


/* fifth-part starts here */

.fifth-part{

    width: 100%;
    padding-top: 280px;
    
}

.section1{

    width: 100%;

    height: 100vh;
    padding-top: 150px;

    background-image: url(/mainimg.avif);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 100px  0 0 0; /* Adjust the values to create a wave effect */
}

.section1 p{
font-size: 28px;
color: white;
font-weight: 800;
padding-left: 70px;
line-height: 30px;

}


.section2{

    width: 100%;

    height: 100vh;
    padding-top: 150px;

    background-image: url(/mainimg2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 100px  0 0 0; /* Adjust the values to create a wave effect */
    padding-left: 100px;
}


.section2 h2{


    font-size: 4.80rem;
    color: white;
    font-weight: 800;
    line-height: 75px;
    
}

.section2 span{

    font-weight: 800;
    color: white;
    padding-bottom: 18px;
}



.section2 p{

    font-size: 16px;
    color: white;
    padding-left: 18px;
    letter-spacing: 1px;
    line-height: 25px;
    padding-top: 20px;

}
.smalldiv{
display: flex;
color: rgb(255,255,255);
padding-top: 30px;
padding-left: 46px;

}

.smalldiv img{

    width: 50px;
    border-radius: 50px;
}

.smalldiv p{

    font-size: 12px;
    font-weight: 200;
    position: relative;
    top: 20px;
    right: 165px;
}

.btnn{

    width: 140px;
    height: 48px;
    font-size: 14px;
}

.btnnn{

    padding-left: 20px;
}



/* three sec starts from here */
.three-sec{

    width: 100%;
    height: 100vh;
    background-color: rgb(3,121,189);
    
}

.left-content h2{

    font-size: 4.20rem;
    font-weight: 800;
    line-height: 55px;
    color: white;
}

.left-content{

    padding-left: 100px;
    padding-top: 100px;
}

.left-content p{

    padding-top: 10px;
    font-size: 16px;
    color:white;
    padding-left: 5px;
    line-height: 20px;
}

.sect1{

    width: 350px;
    height: 220px;
    background-color: yellow;
    margin-top: 20px;
}

.sect2{

    background-color: blue;
}

.sect3{

    background-color: purple;
}


.sect4{

    background-color: red;
}

.leftside-divs{

    width: 100%;
    height: 100vh;
    padding-left: 1000px;
    position: relative;
    bottom: 280px;
    right: 15%;
}






